/* #region Common */

:root {
  --gh-darker: #0d1117;
  --gh-dark: #161b22;
  --gh-medium: #21262d;
  --gh-light: #343942;
  --gh-lighter: #f0f6fc;
  --gh-link: #1f6feb;
  --gh-top-hover: #ffffffb3;
  --gh-bottom-hover: #1f6febaa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--gh-darker);
  color: var(--gh-lighter);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

/* #endregion Common */

/* #region Utility */

.container {
  width: 96%;
  max-width: 1440px;
  margin: auto;
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.vp-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.vp-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hp-30 {
  padding-left: 30px;
  padding-right: 30px;
}

/* #endregion Utility */

/* #region Header */

#app_header {
  background-color: var(--gh-dark);
}

#app_header a {
  color: var(--gh-lighter);
  font-weight: 600;
}

#app_header a,
#app_header .hoverable {
  transition: color 0.3s;
}

#app_header a:hover,
#app_header .hoverable:hover {
  color: var(--gh-top-hover);
  font-weight: 600;
  cursor: pointer;
}

.left_header_section > *:nth-child(even),
.right_header_section > *:nth-child(even) {
  margin: 0 20px;
}

.header_search {
  position: relative;
}

.header_search > input {
  background-color: var(--gh-darker);
  border-radius: 5px;
  border: 1px solid var(--gh-light);
  height: 26px;
  padding-left: 10px;
  color: var(--gh-light);
}

.header_search > input::placeholder {
  color: var(--gh-light);
}

.header_search > span {
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid var(--gh-light);
  color: var(--gh-light);
}

/* #endregion Header */

/* #region Main */

#app_main .tabs {
  position: relative;
  height: 100px;
  border-bottom: 1px solid var(--gh-medium);
}

#app_main .tabs > ul {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  list-style: none;
}

#app_main .tabs > ul > li {
  padding: 0 0 20px;
  color: var(--gh-lighter);
  transition: border-color 0.7s, color 0.7s, padding-left 0.7s, padding-right 0.7s;
}

#app_main .tabs > ul > li:nth-child(even) {
  margin: 0 20px;
}

#app_main .tabs > ul > li:hover {
  border-bottom: 1px solid orange;
  font-weight: 600;
  color: orange;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

#app_main .tabs > ul > li > div > a {
  color: inherit
}

#app_main .tabs > ul > li > div > a > .counter {
  padding: 3px 10px;
  background-color: var(--gh-light);
  border-radius: 15px;
}

#app_main .container > .left_main_section {
  flex-basis: calc(100% / 3);
}

#app_main .container > .left_main_section > .image_wrapper {
  position: relative;
  top: -40px;
}

#app_main .container > .left_main_section > .image_wrapper > img {
  border-radius: 50%;
}

#app_main .container > .left_main_section > .image_wrapper > span {
  position: absolute;
  left: 80%;
  top: 80%;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--gh-darker);
  border: 1px solid var(--gh-top-hover);
  color: var(--gh-top-hover);
}

/* #endregion Main */

/* #region Footer */

#app_footer .container {
  position: relative;
  border-top: 1px solid var(--gh-medium);
}

#app_footer .copy_section > i,
#app_footer .copy_section > span {
  vertical-align: middle;
  color: var(--gh-light);
}

#app_footer .footer_links {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

#app_footer .footer_links > a {
  color: var(--gh-link);
}

#app_footer .footer_links > a:nth-child(even) {
  margin: 0 30px;
}

#app_footer .footer_links > a:hover {
  color: var(--gh-bottom-hover);
}

/* #endregion Footer */
